@font-face {
    font-family: sahel;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Sahel-Light.woff') format('woff');
}

@font-face {
    font-family: sahel;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Sahel.woff') format('woff');
}

@font-face {
    font-family: sahel;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Sahel-Bold.woff') format('woff');
}

@font-face {
    font-family: sahel;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Sahel-Black.woff') format('woff');
}

html, body, .mapContainer {
    padding: 0;
    margin: 0;
    direction: rtl;
    text-align: right;
}

.mapContainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

#map {
    position: relative;
    height: 100%;
}

.head {
    width: 500px;
    position: fixed;
    top: 30px;
    z-index: 999;
}

.head #search {
    float: right;
    margin-right: 50px;
    text-align: right;
    border: 1px solid #d8d6d2;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 500;
    line-height: 10px;
    padding: 10px 20px;
    direction: rtl;
    font-family: sahel;
    opacity: 0.9;
    outline: 0;
    transition: .3s;
    width: 400px;
}

.head #search:hover {
    border: 1px solid #444;
    transition: .3s;
}

.buttons {
    position: absolute;
    right: 5px;
    bottom: 15px;
    width: 60px;
    /* height: 100px; */
    z-index: 99999;
    /* background-color: rgba(0, 0, 0, .7); */
    text-align: center;
    /* padding: 10px; */
    box-sizing: border-box;
    /* color: #fff; */
    border-radius: 10px;
    cursor: pointer;
}

i.satellite {
    font-size: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: #000;
    border-radius: 10px;
    margin-top: 7px;
}

.clickable {
    opacity: 0.6;
    cursor: pointer;
    transition: .2;
}

.clickable:hover {
    opacity: 1;
    cursor: pointer;
    transition: .2;
}

.titleAtr {
    position: relative;
}

.titleAtr[titles]:hover::after {
    content: attr(titles);
    position: absolute;
    width: 200px;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    bottom: 20px;
    right: 20px;
    padding: 7px 10px;
    border-radius: 15px 15px 0 15px;
    text-align: center;
    font-family: sahel;
    line-height: 30px;
}

.modall {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 9999999;
    font-family: sahel;
    display: none;
}

.modalMain {
    width: 60%;
    height: 300px;
    border-radius: 15px;
    background-color: #fff;
    padding: 20px;
    text-align: right;
    margin: 100px auto;
    box-sizing: border-box;
}

input {
    outline: none;
}

*::selection {
    background: rgb(0, 192, 0);
    color: #fff;
    padding: 5px 10px;
}

.modalClose {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: red;
    font-size: 25px;
}

.modalMain .input {
    width: 85%;
    float: left;
}

.modalMain .input[type=submit] {
    position: relative;
    top: 30px;
}

.element {
    margin-top: 10px;
    height: 38px;
}

.element label:not(:first-child) {
    vertical-align: -7px;
}

.locResult {
    background-color: rgba(253, 253, 250, .9);
    /* height: 200px; */
    width: 400px;
    margin-top: 60px;
    margin-right: 50px;
    border-radius: 5px;
    font-family: sahel;
}

.locResult .eleman {
    padding: 10px;
}

.locResult .eleman:not(:last-child) {
    border-bottom: 1px solid #444;
}

.locResult .eleman:hover {
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

.locResult .eleman .category {
    width: 25%;
    box-sizing: border-box;
    border-left: 3px solid #00a388;
    background-color: rgba(0, 163, 136, 0.068);
    display: inline-block;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
}

.locResult .eleman .title {
    padding-right: 10px;
    display: inline-block;
}